/JobType.class
/Title.class
/Career.class
/HiringProcess.class
/Qualifications.class
/Preferred.class
/MainCategory1Id.class
/MainCategory2Id.class
/SubCategory1Id.class
/SubCategory2Id.class
/CompanyName.class
