/readDetail.class
/updateBoard.class
/DeleteBoard.class
/ReadDetail.class
/UpdateBoard.class
/Delete.class
/Update.class
/SelectYes.class
/Yes.class
/No.class
/Title.class
/JobType.class
/Button.class
/Back.class
/GoBack.class
